<!--
  Generated template for the ProjectsNotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Project Notes</ion-title>
  </ion-navbar>
  <ion-navbar>
    <ion-title>{{projectName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>
<ion-content padding>
  <ion-list no-lines>
      <ion-item *ngFor="let proj of projectTasks">
        <ion-card *ngIf="proj.type!='logentry'">
          <ion-card-header>
          {{proj.projectNotes}}
          </ion-card-header>
          <ion-card-content>
           {{proj.messages}}
           <br>
           assigned to  : {{proj.loginId}}
          </ion-card-content>
          
        </ion-card>
     
        </ion-item>
  </ion-list>
</ion-content>





